footer{
    margin-top: -9px;
}

footer section div p{
    display: inline-block;
}
footer .link-redes{
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
}

footer .link-redes div{
    margin: 5px 0;
}

footer .link-redes div i,
footer .link-redes div p,
footer .link-redes div a{
    font-size: 16px;
    color: #fff;
}

footer .link-redes div a{
    color: #fff;
}

footer .copyright{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #13283d;
    padding: 5px;
}

footer .copyright .p{
    margin-right: 10px;
}

footer .copyright p,
footer .copyright i{
    font-size: 16px;
    color: #fff;
}

/* ############################################### */
/* -------------estilo para tabley---------------- */

@media (min-width: 800px){
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 31px;
    }

    footer .link-redes{
        flex-direction: row;
        justify-content: space-around;
    }

    footer .link-redes div{
        margin: 15px 0;
    }

    .copyright{
        width: 100%;
    }
}


