form{
    border: 1px solid #000;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
}
form div{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.form h3{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #13283d;
    font-family: helvetica;
}

form div input,
form div textarea{
    width: 60%;
    border-radius: 10px;
    font-size: 1rem;
}

form div input:focus,
form div textarea:focus{
    color: blue;
}

form label{
    width: 40%;
    font-size: 1.3rem;
    font-weight: 900;
    color: #000;
    margin: 5px 10px;
    text-align: right;
}

form input,form textarea{
    border: 1px solid #13283d;
    padding: 0 5px;
}


form div input:focus,
form div textarea:focus{
    border: 3px solid blue;
}

form button{
    background-color: #13283d;
    width: auto;
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    font-size: 1.4rem;
    font-family: sans-serif;
}

form button:hover{
    scale: 1.1;
}
form button:active{
    scale: 1;
}