*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container--aitem{
display: flex;
flex-direction: column;
}

.container__main p{
padding: 20px;
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
}

.container__main .p-1{
margin: 15px;
border-radius: 0 0 20px;
box-shadow: 5px 5px 10px #13283d6d;
transition: width 2s, height 4s;
}
.container__main .p-2{
margin: 20px 15px;
border-radius: 0 0 0 20px;
box-shadow: -5px 5px 10px #13283d6d;
transition: all width 2s, height 4s;
}

.article-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button{
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: #13b235;
    border: none;
    box-shadow: 5px 5px 5px #000;
}

.button a{
    padding: 15px 30px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    color: #fff;
}

.button:hover{
    scale: 1.1;
}
.button:active{
    scale: 1;
}

/* ####################################################### */
/* -------------------------estilo a tablet-------------- */

@media (min-width: 800px){
    .container__main .container--item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container--item p{
        font-size: 1.1rem;
    }

    .article-button{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    .button{
        padding: 5px 15px;
        margin: 0 0 10px 0;
    }

    .button a{
        font-size: 1.2rem;
    }
}


/* ######################################################### */
/* -------------estilo para desktop---------------- */
@media (min-width: 920px){
    .container__main .container--item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .container__main .container--item p{
        width: 90%;
    }

    .article-button{
        margin-bottom: 90px;
    }
    
}
